body {
    margin: 0px;
}
header {
    background-color: grey;
    font-size: 20px;
}
#navbar {
    margin: 0px;
    padding: 20px;
}
li{
    display: inline;
    list-style: none;
}
#navbar-contact, #navbar-proyects {
    float: right;
    margin-left: 20px;
}
#myself {
    background-color: greenyellow;
    text-align: center;
    padding: 20px;
    font-size: 80px;
}
#myself-img {
    width: 50%;
    margin-top: 20px;
}
#education {
    background-color: aquamarine;
    text-align: center;
    padding: 20px;
    font-size: 50px;
}
#experience {
    background-color: chocolate;
    text-align: center;
    padding: 20px;
    font-size: 50px;
}
footer {
    background-color: gainsboro;
    padding: 10px;
}