@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    margin: 0px;
    background-color:  #EEEEEE;
}
header {
    font-size: 20px;
}
#navbar {
    margin: 0px;
    padding: 15px;
}
li{
    display: inline;
    list-style: none;
}
#navbar-contact, #navbar-proyects {
    float: right;
    margin-left: 20px;
}
#myself {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    padding: 20px;
    font-size: 80px;
}
#myself-img {
    width: 50%;
    margin-top: 20px;
}
#color-transition{
    width: 100%;
    margin-bottom: 0px;
}
#education {
    background-color: #123144;
    text-align: center;
    padding: 20px;
    font-size: 50px;
}
#edu-container {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}
.edu-box {
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
}
#experience {
    background-color: #123144;
    text-align: center;
    padding: 20px;
    font-size: 50px;
}
footer {
    background-color: gainsboro;
    padding: 5px;
    font-size: 10px;
}